*{
	text-decoration: none;
	box-sizing: border-box;
	color: #D4ADFC;
	font-family: 'Poppins', sans-serif;
	transition: all 0.8s ease;
}
body{
	background-color: #352F44;
}
div{/*
	border-style: solid;
	border-color: #ffffff;*/
}

/*12 grid*/
.container-fluid{width:100%; max-width: 2560px;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/*menu*/
.ham, .menu-s{
	display: none;
}
.menu div{
	text-align: center;
	font-weight: 600;
	letter-spacing: 1px;
}
.menu a div{
	border-radius: 5px;
	padding: 0.5% 0;
	margin: 1.5% 1.5% 0 0;
	transition: all 0.8s ease;
}
.menu a div:hover{
	transform: scale(1.05);
	background-color: #443C68;
}

/*Introduction*/
.intro-text{
	text-align: left;
	padding: 10%;
}
.intro-text h1, .intro-text h3, .intro-text h2{
	margin: 0;
	padding: 0;
}
.intro-text h3{
	font-style: italic;
	font-weight: 400;
}
.intro-text h1{
	font-size: 60px;
	font-weight: 500;
}
.intro-text h2{
	font-size: 25px;
	letter-spacing: 0px;
	font-weight: 420;
}
.intro-text h2:hover{
	cursor: pointer;
	transform: translateX(50px);
}

.pic-s{
	display: none;
}
.pic img, .pic-s img{
	z-index: -1;
	background: transparent;
	transition: all 0.8s ease;
}
.pic img:hover{
	transform: scale(1.05);
}

.color-palette .col-3{
	color: #352F44;
	padding: 1%;
	text-align: center;
	font-weight: 600;
}
.color-palette .col-3:hover{
	cursor: pointer;
}
.cp1{background-color: #635985;}
.cp2{background-color: #443C68;}
.cp3{background-color: #18122B;}
.cp4{background-color: #D4ADFC;}



/*Media Query*/
@media (min-width: 1024px){
	/*menu*/
	/*intro*/
	.intro{
		display: flex;
		align-items: center;
	}

}
@media (max-width: 768px){
	[class*="col-"] {
  		width: 100%;
	}
	/*menu*/
	.menu{
		display: none;
	}
	.menu-s .col-1{
		background-color: #18122B;
		float: right;
		text-align: center;
		width: 100%;
		border-radius: 5px;
		padding: 8%;
		font-weight: 500;
		letter-spacing: 1px;
	}
	.menu-s .col-1:hover{
		background-color: #443C68;
	}
	.ham{
	  display: block;
	  cursor: pointer;
	  background-color: #635985;
	  padding: 3%;
	  border-radius: 5px;
	  margin: 2% 3.5%;
	  position: fixed;
	  right: 0;
	}
	.bar1, .bar2, .bar3{
	  	width: 35px;
	  	height: 5px;
	  	background-color: #18122B;
	  	border-radius: 2px;
	  	margin: 6px 0;
	  	transition:all 0s ease;
	}
	/*.change .bar1 {transform: translate(0, 11px) rotate(-45deg);}
	.change .bar2 {opacity: 0;}
	.change .bar3 {transform: translate(0, -11px) rotate(45deg);}*/
	.change .bar1 {display: none;}
	.change .bar2 {display: none;}
	.change .bar3 {display: none;}

	/*intro*/
	.pic-s{
		display: block;
	}
	.pic{
		display: none;
	}
	.pic-s img{
		width: 100%;
	}

	.intro-text{
		padding-top: 0;
	}
}
